@import "../../../styles/variables.scss";

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg-color;

  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: $aux-color;
    transition: all ease 0.2s;

    &:hover {
      color: darken($aux-color, 10%);
    }
  }

  form {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;

    input[type="email"],
    input[type="password"],
    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    input[type="file"] {
      margin: 10px 0;
    }

    button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      color: $text-color;
      background-color: $primary-color;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: all ease 0.2s;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
}
