<div class="header">

  <div class="social">
    <a href="https://www.linkedin.com/in/wendel-de-andrade-b51a181a4/" target="_blank">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/Wendel-de-Andrade" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>

  <div [ngClass]="{'logo': true, 'centered': !showSearch}" [routerLink]="['/']">
    <img src="assets/svg/logo.svg" alt="Logo">
  </div>

  <input *ngIf="showSearch" [(ngModel)]="searchTerm" (ngModelChange)="updateFilter()"
    placeholder="Pesquise o personagem" class="search-bar">


  <div [ngClass]="{'user-menu-wrapper': true, 'flex-zero': !showSearch}">

    <div class="user">

      <div class="user-image" (click)="toggleUserMenu()">
        <i *ngIf="!user?.image" class="fa-solid fa-user"></i>
        <img *ngIf="user?.image" [src]="user.image" alt="{{ user.name }}">
      </div>

    </div>

    <div *ngIf="showUserMenu" class="user-menu">
      <ul>
        <li *ngIf="user" [routerLink]="['/perfil']" (click)="closeUserMenu()">Perfil</li>
        <li *ngIf="user" (click)="logout(); closeUserMenu()">Sair</li>
        <li *ngIf="!user" [routerLink]="['/login']" (click)="closeUserMenu()">Login</li>
      </ul>
    </div>

  </div>

</div>
