.image {
  border-radius: 10px;
  height: 80%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.character-image {
  margin-left: 5%;
}

.character-details {
  flex-grow: 1;
  text-align: center;

  h3 {
    font-size: 30px;
  }

  p {
    padding-top: 20px;
    font-size: 20px;
  }
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  .modal-image {
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }

  .modal-text {
    width: 50%;
    padding-left: 20px;

    h2,
    p {
      margin: 0 0 10px 0;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.fa-circle-notch {
  font-size: 2em;
  color: #555;
  animation: spin 2s linear infinite;
}

@media (max-width: 767px) {

  // Aqui para baixo é o modal que já está funcionando
  .modal-content {
    display: block;

    .modal-image {
      width: 100%;
      margin-bottom: 20px;
    }

    .modal-text {
      width: 100%;
      padding-left: 0 20px;

      h2,
      p {
        margin: 0 0 10px 0;
      }
    }
  }

  .container>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      margin-left: 0;
      margin-bottom: 15px;
      height: 80%;
      order: -1;
    }

    .character-details {
      text-align: center;
      order: 1;
    }
  }

}
