.character-image {
  border-radius: 10px;
  height: 80%;
  margin-left: 5%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.character-details {
  flex-grow: 1;
  text-align: center;

  h3{
    font-size: 30px;
  }

  p{
    padding-top: 20px;
    font-size: 20px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.fa-circle-notch {
  font-size: 2em;
  color: #555;
  animation: spin 2s linear infinite;
}
