@import "../../../styles/variables.scss";

ul {
  padding: 0;
  list-style-type: none;
  li {
    font-weight: bold;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.2s;

    &:hover, &.active {
      cursor: pointer;
      background-color: $bg-color;
      color: $primary-color;
    }
  }
}
