<div class="container">
  <div *ngFor="let episode of episodes; trackBy: trackById">
    <app-card (cardClick)="openModal(episode)">
      <div class="episode-details">
        <h3>{{ episode.name }}</h3>
        <p>Temporada: {{ episode.episode }}</p>
      </div>
    </app-card>
  </div>
  <app-modal [isVisible]="isModalOpen" (close)="closeModal()">
    <h2>{{ selectedEpisode?.name }}</h2>
    <p>Temporada: {{ selectedEpisode?.episode }}</p>
  </app-modal>
  <div *ngIf="isLoading" class="loading-indicator">
    <i class="fa-solid fa-circle-notch"></i>
  </div>
</div>
